@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #fef8f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

/* button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    background: transparent;
    padding: 20px 5px;
    color:#3c376f;
    font-size: 2rem;
} */

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 20px 5px;
    color: #3c376f;
    font-size: 2rem;
}

button span {
    position: relative;
    display: inline-block;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease ;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.previous:hover span {
    -webkit-transform: translateX(-10px) scale(1.2) ;
    transition: translatex(-10px) scale(1.2);
}

.next:hover span {
    -webkit-transform: translateX(10px) scale(1.2) ;
    transition: translatex(10px) scale(1.2);
}

.slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0 ;
    display: -webkit-box;
    display: flex ;
    -webkit-box-pack: center ;
    justify-content: center;
}

.slider-nav li {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 2;
    flex: 2;
    text-align: center;

}

img {
    max-width: 100%;
    display: none;
    box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
}

img.active {
    display: block;
    -webkit-animation: fadeImg 0.8s;
    animation: fadeImg 0.8s ;

}

.slider-nav .arrow {
    -webkit-box-flex: 0;
    flex: 0 0 15% ;
}

.slider-nav span {
    display: block;
    width: 100%;
}

@-webkit-keyframes fadeImg {
    from {
        opacity: 0 ;
    }
    to {
        opacity:1;
    }
}

@keyframes fadeImg {
    from {
        opacity: 0 ;
    }
    to {
        opacity:1;
    }
}